SOCKET_HOST=127.0.0.1
SOCKET_PORT=8787
SOCKET_PATH=/streamerbot
STREAMERBOT_SOCKET_API_KEY=replace-with-at-least-32-random-characters
AUTH_TIMEOUT_MS=10000
HEARTBEAT_INTERVAL_MS=30000
MAX_PAYLOAD_BYTES=20971520
